<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://transmitsecurity.github.io/ios-demo-apps/Apps/hsbc-demo/ido-ios-rasp-demo-app.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.TransmitSecurity.ido-ios-rasp-demo-app</string>
				<key>bundle-version</key>
				<string>1.0.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>HSBC demo</string>
				<key>description</key>
				<string>Demo app description (optional)</string>
				<key>logo-url</key>
				<string>https://transmitsecurity.github.io/ios-demo-apps/Assets/transmit-logo.png</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
